<!-- <div class="pill flex-column p-3 px-2"> -->
    <p class="fw-bold px-2 w-100 m-0">BMI Calculator</p>
    <table class="w-100 mt-2">
        <tr>
            <td class="pe-1">
                <div class="input-group mb-1">
                    <input type="number" class="form-control" placeholder="Height"
                        aria-label="height" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">{{unitHeight}}</span>
                </div>
            </td>
            <td class="">
                <div class="input-group mb-1">
                    <input type="number" class="form-control" placeholder="Weight"
                        aria-label="weight" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">{{unitWeight}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="pe-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="BMI"
                        aria-label="Recipient's username" aria-describedby="basic-addon2" disabled
                        readonly>
                    <span class="input-group-text" id="basic-addon2">unit</span>
                </div>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <div class="centered me-3 justify-content-end">
        <button
            class="btn btn-success1 px-3 rounded-5 border-2 border-black text-black fw-bold">Calculate</button>
    </div>
<!-- </div> -->