<!-- <div class="pill flex-column p-3 px-2"> -->
<p class="fw-bold px-2 w-100 m-0">BMI Calculator</p>
<table class="w-100 mt-2">
    <tr>
        <td class="pe-1">
            <div class="input-group mb-1">
                <input type="number" [(ngModel)]="height" min="{{minHeight}}" max="{{maxHeight}}" class="form-control" placeholder="Height" aria-label="height"
                    aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2"  (click)="changeUnitHeight()">{{unitHeight}}</span>
            </div>
        </td>
        <td class="">
            <div class="input-group mb-1">
                <input type="number" [(ngModel)]="weight" min="{{minWeight}}" max="{{maxWeight}}" class="form-control" placeholder="Weight" aria-label="weight"
                    aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2"  (click)="changeUnitWeight()">{{unitWeight}}</span>
            </div>
        </td>
    </tr>
</table>
<div class="mx-1 row centered">
    <label for="bmi" class="form-label text-center text-dark m-0">BMI = {{bmi}}</label>
    <div class="col-12 no-scrollbar border rounded-4 border-2 border-{{color}} overflow-auto p-0" style="height: 4em;">
        <div class="w-100 text-center">
            <label class="text-bg-{{color}} mb-0 w-100">{{bmiStatus}}</label>
            <label class="text-bg-light mb-0 w-100">{{weightRange}}</label>
        </div>
    </div>
</div>
<div class="centered justify-content-end mt-1">
    <button class="btn btn-success1 rounded-5 border-2 border-black text-black fw-bold" [disabled]="!height || !weight"
        (click)="calculateBMI()">Calculate</button>
</div>