<div class="modal-header">
    <h1 class="modal-title text-center w-100 fs-5 " id="staticBackdropLabel">{{title}}</h1>
</div>
<div class="modal-body">
    <div class="row m-0" *ngIf="isSelecting">
        <h6 class="fw-bold bg-green-100 py-2 px-4 rounded-2 text-center">{{mealObj.mealName}}</h6>
        <div class="cols centered py-3">
            <img class="img-fluid" src="{{mealObj.imageLink}}" alt="">
        </div>
        <div class="cols px-2">
            <h6 class="fw-bold bg-green-100 p-2 rounded-2">Description</h6>
            <p class="text-justify cardColor p-2" [innerHTML]="mealObj.description">
            </p>
            <h6 class="fw-bold bg-green-100 p-2 rounded-2">Meal time</h6>
            <p class="text-justify cardColor p-2">
                {{mealTimes[currentIndex-1]}}
            </p>
            <h6 class="fw-bold bg-green-100 p-2 rounded-2">Cuisines</h6>
            <p class="text-justify cardColor p-2">
                {{mealObj.cuisines}}
            </p>
            <h6 class="fw-bold bg-green-100 p-2 rounded-2">Ingredients</h6>
            <div class="d-flex">
                <p class="cardColor p-2">
                    {{mealObj.ingredients}}
                </p>
            </div>
            <h6 class="fw-bold bg-green-100 p-2 rounded-2">Instructions</h6>
            <p class="text-justify cardColor p-2" [innerHTML]="mealObj.instructions">
        </div>
        <div class="m-3 d-flex justify-end">
            <small class="fst-italic me-3">Credits: {{mealObj.credits}}</small>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="d-flex justify-end me-3 gap-2" *ngIf="isSelecting">
        <button type="button" class="btn btn-success" (click)="setMeal()">{{btnText}}</button>
        <button type="submit" class="btn btn-secondary" (click)="getSomethingElse(currentIndex-1)"><i
                class="bi bi-arrow-clockwise"></i> Try Something
            Else</button>
    </div>
    <button type="button" class="btn btn-outline-danger" *ngIf="!isSelecting"
        data-bs-dismiss="modal">Close</button>
</div>