.cardColor:hover {
    scale: 105%;
    border-radius: 20px;
    cursor: pointer;
}

.decorationNone {
    text-decoration: none;
    color: #000;
}

.completed{
    background-color: #000;
    
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progressBody {
    background-color: #ff928a7b;
    border: 2px #ff928a solid;
}

.progressWeight {
    background-color: #14e011bb;
    border: 2px #0eac0e solid;
}