<div class="container p-0 position-relative z-30 pe-2 mt-1">
    <div class="row  d-flex justify-content-between gap-2">
        <div class="col-12 col-lg-5 p-0 d-flex px-1 ">
            <div class="pill col-12 col-lg-7 centered rounded-4">
                <table>
                    <tr>
                        <td class="pe-4">
                            <img height="40px" width="40px" src="/icons/avatar.png" alt="avatar">
                        </td>
                        <td>
                            <p class="m-0 fw-bold">Welcome, {{userLogin.username}}</p>
                            <small class="text-dark-emphasis">Your personal dashboard</small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-12 col-lg-6 p-0 pe-lg-2">
            <div class="d-flex flex-column flex-lg-row gap-2 px-1">
                <div class="pill col-12 col-lg-6 centered p-0 rounded-4 pb-1">
                    <span class="fw-bold m-0">Next meal</span>
                    <small class="text-dark-emphasis m-0">{{selectedMeals[completedMeals].mealName}}</small>
                    <small class="text-dark-emphasis">{{mealTimes[completedMeals]}}</small>
                </div>
                <div class="pill col-12 col-lg-6 centered p-0 rounded-4 pb-1">
                    <span class="fw-bold">Goal</span>
                    <small class="text-dark-emphasis">{{userDietaryInfo.goal}}</small>
                    <small class="text-dark-emphasis">{{userDietaryInfo.dietPreference}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-12 col-lg-6 p-0">
            <div class="row">
                <div class="col-12 col-lg-6 px-3 pe-lg-0">
                    <div class="pill pb-3 px-2">
                        <table class="w-100 text-center mb-2">
                            <tr>
                                <td class="p-2 cardColor">
                                    <p class="m-0 fw-bold ">No Streak</p>
                                    <small class="m-0 text-dark-emphasis">Keep it up to build your streak!</small>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-2 cardColor">
                                    <p class="m-0 fw-bold">Target Weight</p>
                                    <div class="progress p-0 h-100 progressBody rounded-5">
                                        <div class="progressWeight rounded-5 progress-bar-striped progress-bar-animated"
                                            role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                            [ngStyle]="{'width': weightPercentage+'%'}">
                                            <p class="text-end m-0 p-1 text-white">{{weightPercentage}}%</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-end">
                                        <small class="m-0 text-end pe-2">{{userDietaryInfo.targetWeight}}kg</small>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-2 cardColor pt-1">
                                    <p class="m-0 fw-bold">Daily Calorie Intake</p>
                                    <div class="progress progressBody h-100 p-0 rounded-5">
                                        <div class="progress-bar progressWeight rounded-5 progress-bar-striped progress-bar-animated"
                                            role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                            [ngStyle]="{'width': caloriePercentage+'%'}">
                                            <p class="text-end m-0 p-1">{{caloriePercentage}}%</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-end">
                                        <small class="m-0 text-end pe-2">{{userDietaryInfo.dcr}}kcal</small>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <a class="m-0 decorationNone d-inline-flex " routerLink="../progress"> <span class="">See your
                                Progress</span> <i class="bi bi-caret-right"></i></a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 my-1 my-lg-0 ps-lg-1">
                    <div class="pill mx-1 m-lg-0 centered h-100">
                        <div class="" style="height:26vh; width:26vh;">
                            <canvas id="waterChart">{{ chart2 }}</canvas>
                        </div>
                        <div class="d-flex justify-content-between mx-3">
                            <div class="">
                                <button class="btn centered rounded-circle p-3" (click)="updateWaterIntake(true)">
                                    <img height="20px" width="20px" src="/icons/plus.png" alt="plus">
                                </button>
                            </div>
                            <div class="centered my-2 mx-3 w-50">
                                <p class="m-0">Glasses {{waterIntake}}/{{userDietaryInfo.waterIntake}}</p>
                                <small class="m-0">Stay Hydrated!</small>
                            </div>
                            <div class="">
                                <button class="btn centered rounded-circle p-3" (click)="updateWaterIntake(false)">
                                    <img height="20" width="20" src="/icons/minus-sign.png" alt="minus">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 p-0 px-1">
            <div class="pill">
                <p class="py-2 m-0 text-center">Meals for the day</p>
                <div class="d-flex flex-column flex-lg-row my-3 text-center h-40">
                    <a class="col-12 col-lg cardColor centered py-3 px-1 decorationNone"
                        *ngFor="let meal of selectedMeals let i = index" (click)="showDetails(i)">
                        <img src={{selectedMeals[i].imageLink}} class="img-fluid p-2" alt="breakfast">
                        <p class="mb-1 m-0">{{meal.mealName}}</p>
                        <!-- <small class="m-0 text-dark-emphasis">{{mealTimes[i]}}</small> -->
                    </a>
                </div>
                <a routerLink="../meals" class="mb-0 decorationNone d-inline-flex"><span>Change your meals</span> <i
                        class="bi bi-caret-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-12 col-lg-6 px-1">
            <div class="pill">
                <p class="fw-bold m-0 text-center">This week's Calorie Intake</p>
                <div class="container p-0 centered" style=" height:17rem;">
                    <canvas id="progressChart">{{ chart1 }}</canvas>
                </div>
            </div>
        </div>
        <div class="col-6 p-0 px-1">
            <div class="pill centered" style=" height:20rem;">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a class="col-12 col-lg cardColor centered py-3 px-1 decorationNone">
                                <!-- <img src="/icons/breakfast.png" class="img-fluid p-2" alt="breakfast"> -->
                                <h5>General Distribution:</h5>
                                <div class="d-flex">
                                    <h6>Protein: </h6><small>
                                        25–30% (e.g., lean meats, tofu, legumes).
                                    </small>
                                </div>
                                <div class="d-flex">
                                    <h6>Carbohydrates: </h6><small>
                                        40–50% (e.g., whole grains, fruits, vegetables).
                                    </small>
                                </div>
                                <div class="d-flex">
                                    <h6>Fats: </h6><small>
                                        20–30% (e.g., nuts, seeds, olive oil).
                                    </small>
                                </div>
                                <h5 class="fw-bold">
                                    Adjust these ratios based on goals:
                                </h5>
                                <p class="mb-1 m-0">
                                    Higher Protein for muscle gain.
                                    Lower Carbs for weight loss (e.g., ketogenic diet).
                                </p>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <h5 class="fw-bold">Suggestions:</h5>
                            <p> Cardio: Start with brisk walking (30 minutes, 5 times a week) or cycling.
                                Strength Training: Bodyweight exercises like squats, push-ups, and planks (2–3 times a
                                week).
                                Flexibility: Gentle yoga or stretching for 10–15 minutes daily.</p>
                            <h5>Tips:</h5>
                            <p> Set achievable goals (e.g., 3 workouts/week).
                                Focus on consistency over intensity</p>
                        </div>
                        <div class="carousel-item">
                            <h5 class="fw-bold">Mindful Movement:</h5>
                            <p class="mb-1">Try Tai Chi or yoga with breathing exercises.</p>
                            <h5 class="fw-bold">Low-Intensity Cardio:</h5>
                            <p class="mb-1">Activities like hiking, dancing, or swimming.</p>
                            <h5 class="fw-bold">Meditation:</h5>
                            <p class="mb-1">End workouts with a 5–10 minute mindfulness session.</p>
                            <h5 class="fw-bold">Tips:</h5>
                            <p class="mb-1">Work out in nature for an added mental health boost.
                                Choose activities you enjoy to stay consistent.</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" #staticBackdrop data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable no-scrollbar modal-md">
        <div class="p-2 modal-content rounded-4 no-scrollbar" style="height: 80vh; overflow-y: scroll;"
            *ngIf="isStarter && !bool">
            <div class="modal-header">
                <h1 class="modal-title text-center w-100 fs-5 " id="staticBackdropLabel">Welcome to SmartPlate
                </h1>
            </div>
            <div class="modal-body">
                <h1>Hi!{{userDetails.firstName}},</h1>
                <p class="text-justify">Your personalized diet plan is ready to guide you toward your
                    health goals. Let’s get started with selecting your meals for the day!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="handleClick()">Start</button>
            </div>
        </div>
        <div class="p-2 modal-content rounded-4 no-scrollbar" style="height: 80vh; overflow-y: scroll;"
            *ngIf="!isSelecting && !isStarter && !bool">
            <div class="modal-header">
                <h1 class="modal-title text-center w-100 fs-5 " id="staticBackdropLabel">Welcome to SmartPlate
                </h1>
            </div>
            <div class="modal-body">
                <h1>Interesting choices!</h1>
                <p class="text-justify">Meals are ready for you!. Let’s get started!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Let's go!</button>
            </div>
        </div>
        <div class="p-2 modal-content rounded-4 no-scrollbar" style="height: 80vh; overflow-y: scroll;"
            *ngIf="!isStarter">
        </div>
    </div>
</div>