<div class="container-fluid centered mt-5">
    <div class="pill col-10  text-center mt-4">
        <div class="px-5">
            <div class="p-4 rounded-4 bg-green-100">
                <h1 class="fw-bold">About Us</h1>
                <p class="text-justify">
                    Welcome to SmartPlate DietPlanner, your personalized companion for achieving a healthier and happier
                    you.
                    Our mission is to empower individuals to take control of their nutrition and well-being through
                    cutting-edge
                    technology, insightful tools, and a user-friendly platform.
                </p>
            </div>
            <div class="p-4 mt-2 rounded-4 bg-green-100">
                <h2 class="fw-bold">Our Story</h2>
                <p class="text-justify">
                    At SmartPlate, we understand that every individual’s dietary needs are unique. Whether your goal is
                    to
                    lose weight, gain muscle, maintain a balanced diet, or accommodate specific dietary restrictions, we
                    are
                    here to guide you every step of the way. Our journey began with the vision of creating a platform
                    that
                    simplifies meal planning and progress tracking while promoting healthy habits for life.
                </p>
            </div>
            <div class="p-4 mt-2 rounded-4 bg-green-100">
                <h2 class="fw-bold">What We Offer</h2>
                <ul class="d-flex flex-lg-row flex-column pt-4">
                    <li class="col-12 col-lg">
                        <h4 class="fw-bold px-2">Personalized Meal Plans:</h4> Tailored meal suggestions based on your
                        dietary
                        preferences, goals, and restrictions. From recipes to portion sizes, we've got you covered.
                    </li>
                    <li class="col-12 col-lg">
                        <h4 class="fw-bold px-2">Dietary Quizzes:</h4>Interactive quizzes to assess your eating habits
                        and set realistic health objectives.
                    </li>
                    <li class="col-12 col-lg">
                        <h4 class="fw-bold px-2">Progress Tracking:</h4> Log your daily meals, track calories, and
                        monitor your weight and fitness journey with intuitive charts and insights.
                    </li>
                </ul>
            </div>
            <div class="p-4 mt-2 rounded-4 bg-green-100">
                <h2 class="fw-bold">Why Choose SmartPlate?</h2>
                <h4 class="fw-bold">Our Vision</h4>
                <p class="text-justify">
                    We envision a world where managing your nutrition is effortless and enjoyable. By combining
                    technology
                    with a deep understanding of dietary science, we aim to be the leading platform for personalized
                    diet
                    planning and wellness management.
                </p>
            </div>
            <div class="p-4 mt-2 rounded-4 bg-green-100">
                <h4 class="fw-bold"> Join Us Today</h4>
                <p class="text-justify">
                    Take the first step toward achieving your health goals with SmartPlate DietPlanner. Let us help you
                    make
                    better choices, stay motivated, and build a sustainable, healthy lifestyle.
                </p>
            </div>
        </div>
    </div>
</div>