<div class="centered">
    <form #registerForm="ngForm" class="pill py-3" (ngSubmit)="onSubmit(registerForm)">
        <h1 class="text-center py-3">Sign Up</h1>
        <div class="mb-2">
            <div class="input-group ">
                <span class="input-group-text rounded-start-4">Name</span>
                <input type="text" [(ngModel)]="userObj.firstName" name="firstName" aria-label="Firstname"
                    placeholder="First" class="form-control py-3" required #firstName="ngModel" minlength="3"
                    pattern="[a-zA-Z]{3,15}">
                <input type="text" [(ngModel)]="userObj.lastName" name="LastName" aria-label="Lastname"
                    placeholder="Last" class="form-control rounded-end-4" required #lastName="ngModel" minlength="3"
                    pattern="[a-zA-Z]{3,15}">
            </div>
            <div *ngIf="firstName.invalid && firstName.touched">
                <small class="text-danger m-0 ms-2" *ngIf="firstName.errors?.['required']">Firstname is
                    required.</small>
                <small class="text-danger m-0 ms-2" *ngIf="firstName.errors?.['minlength']">Firstname must be at least 3
                    characters long.</small>
                <small class="text-danger m-0 ms-2" *ngIf="firstName.errors?.['pattern']">Firstname can only contain
                    a-z,
                    A-Z</small>
            </div>
            <div *ngIf="lastName.invalid && lastName.touched">
                <small class="text-danger m-0 ms-2" *ngIf="lastName.errors?.['required']">Lastname is required.</small>
                <small class="text-danger m-0 ms-2" *ngIf="lastName.errors?.['minlength']">Lastname must be at least 3
                    characters long.</small>
                <small class="text-danger m-0 ms-2" *ngIf="lastName.errors?.['pattern']">Lastname can only contain a-z,
                    A-Z</small>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="text" [(ngModel)]="login.username" name="username" class="form-control rounded-4"
                id="floatingUsername" placeholder="Bob" required minlength="3" pattern="[a-zA-Z][a-zA-Z0-9._-]{3,15}"
                #username="ngModel">
            <label for="floatingUsername">Username</label>
            <small class="text-danger m-0 ms-2" *ngIf="uniqueUsername">Username already exists!</small>
            <div *ngIf="username.invalid && username.touched">
                <small class="text-danger m-0 ms-2" *ngIf="username.errors?.['required']">Username is required.</small>
                <small class="text-danger m-0 ms-2" *ngIf="username.errors?.['minlength']">Username must be at least 3
                    characters long.</small>
                <small class="text-danger m-0 ms-2" *ngIf="username.errors?.['pattern']">Username can only contain a-z,
                    A-Z, 0-9, ., _, -.</small>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="email" [(ngModel)]="userObj.email" name="email" class="form-control rounded-4 validate"
                id="floatingEmail" placeholder="name@example.com" required #email="ngModel" minlength="10"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <label for="floatingEmail">Email address</label>
            <small class="text-danger m-0 ms-2" *ngIf="uniqueEmail">Email already exists!</small>
            <div *ngIf="email.invalid && email.touched">
                <small class="text-danger m-0 ms-2" *ngIf="email.errors?.['required'] ">E-mail is required.</small>
                <small class="text-danger m-0 ms-2"
                    *ngIf="email.errors?.['pattern'] || email.errors?.['minlength']">E-mail must be at least 10
                    characters long and can only contain a-z, 0-9, ., _, -, &#64;</small>
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="password" [(ngModel)]="passwordObj.passwordNew" name="passwordNew"
                class="form-control rounded-4 validate" id="floatingPasswordNew" placeholder="Password" required
                minlength="6" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{6,}$" #passwordNew="ngModel">
            <label for="floatingPasswordNew">Password</label>
            <div *ngIf="passwordNew.invalid && passwordNew.touched">
                <small class="text-danger m-0 ms-2" *ngIf="passwordNew.errors?.['required']">Password is
                    required.</small>
                <small class="text-danger m-0 ms-2"
                    *ngIf="passwordNew.errors?.['pattern']||passwordNew.errors?.['minlength']">Password must be at least
                    6 characters with one UpperCase, LowerCase, Number and Special Character</small>
            </div>
        </div>
        <div class="form-floating">
            <input type="password" [(ngModel)]="passwordObj.passwordConfirm" name="passwordConfirm"
                class="form-control rounded-4 validate" id="floatingPassword1" placeholder="ConfirmPassword" required
                #passwordConfirm="ngModel">
            <label for="floatingPassword1">Confirm Password</label>
            <small class="text-danger m-0 ms-2" *ngIf="invalidPassword">Passwords do not match.</small>
        </div>
        <div class="form-check my-2 ms-2">
            <input class="form-check-input" type="checkbox" name="privacyPolicy" [(ngModel)]="expression"
                id="defaultCheck" required #privacyPolicy="ngModel">
            <label class="form-check-label" for="defaultCheck">
                I accept the <a href="" required>Privacy Policy</a>
            </label>
            <div *ngIf="privacyPolicy.invalid && privacyPolicy.touched">
                <small class="text-danger m-0 ms-2" *ngIf="privacyPolicy.errors?.['required']">Privacy Policy is
                    required.</small>
            </div>
        </div>
        <button class="btn btn-success1 py-2 w-100 border border-3 rounded-4" type="submit"
            [disabled]="registerForm.invalid">Sign Up</button>
        <p class="fs-6 text-dark-emphasis text-center mt-3">Or Sign Up with</p>
        <div class="centered">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn"><img width="40px" src="/icons/search.png" alt="google png"></button>
                <button type="button" class="btn"><img width="40px" src="/icons/facebook.png"
                        alt="facebook png"></button>
                <button type="button" class="btn"><img width="40px" src="/icons/twitter.png" alt="twitter png"></button>
            </div>
        </div>
        <div class="text-center my-2">
            <small class="text-dark-emphasis" (click)="emitEvent()">Already have an account? <a class="cursor-pointer underline to-blue-600">Login</a></small>
        </div>
    </form>
</div>