<div class="colorMain borderDiv">
    <div class="container vh-100">
        <div class="col-12 h-100 centered">
            <div class="row d-block">
                <div class="col">
                    <img class="img-fluid" src="icons/avatar.png" alt="avatar icon">
                </div>
            </div>
            <div class="row d-flex position-absolute bottom-50 flex-column gap-2 pe-3">
                <div class="col">
                    <a class="btn" routerLink="home"><img class="img-fluid mx-2" height="30px" width="30px"
                            src="icons/dashboard.png" alt="dashboard icon"><span id="btnText">Dashboard</span></a>
                </div>
                <div class="col" routerLink="meals">
                    <a class="btn"><img class="img-fluid mx-2" height="30px" width="30px" src="icons/restaurant.png"
                            alt="meals icon"><span id="btnText">Meals</span></a>
                </div>
                <div class="col" routerLink="progress">
                    <a class="btn"><img class="img-fluid mx-2" height="30px" width="30px" src="icons/progress.png"
                            alt="progress icon"><span id="btnText ">{{progress}}</span></a>
                </div>
            </div>
            <div class="row">

                <hr>
                <div class="d-flex align-items-center">
                    <div class="col">
                        <button class="btn d-inline-flex"><img class="img-fluid mx-2" height="30px" width="30px"
                                src="icons/avatar.png" alt="avatar icon"><span class="mt-1">Profile</span></button>
                        <button class="btn"><img class="img-fluid" height="20px" width="20px" src="icons/more.png"
                                alt="more icon"></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>