<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
    type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
</button>

<aside id="default-sidebar"
    class="col-2 pb-5 fixed top-0 mt-20 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 mx-2 pill rounded-4 py-4 overflow-y-auto colorMain dark:bg-gray-800 ">
        <ul class="space-y-2 p-0 font-medium h-4/6">
            <li>
                <a routerLink="home"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path
                            d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z" />
                    </svg>
                    <span routerlink="home" class="flex-1 ms-3 whitespace-nowrap">Dashboard</span>
                </a>
            </li>          
            <li class="cursor-pointer" routerLink="meals">
                <a routerlink="meals"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg routerlink="meals" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span routerlink="meals" class="flex-1 ms-3 whitespace-nowrap">Meals</span>
                </a>
            </li>
            <li class="cursor-pointer" routerLink="progress">
                <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                        <path
                            d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                        <path
                            d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                    </svg>
                    <span class="ms-3">Progress</span>
                </a>
            </li>
        </ul>
        <ul class="space-y-2 p-0 font-medium">
            <li>
                <a routerLink="profile"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path
                            d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
                    </svg>
                    <span routerLink="profile" class="flex-1 ms-3 whitespace-nowrap">Profile</span>
                </a>
            </li>
            <li class="cursor-pointer">
                <a (click)="emitEvent()" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z" />
                        <path
                            d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z" />
                        <path
                            d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Log out</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<!-- <a class="align-self-center mx-3 link-body-emphass  text-decoration-none" title="avatar" data-bs-toggle="tooltip">
       <img src="/icons/avatar.png" class="bi pe-none p-3 borderBottom" width="80%" height="80%" role="img"
           aria-label="Home" alt="avatar png">
   </a>
   <div class="row">
       <div class="col-1">
           <ul class="nav nav-pills nav-flush flex-column mb-auto mt-3 ">
               <li class="nav-item">
                   <a routerLink="home" class="nav-link" title="Home" data-bs-toggle="tooltip"
                       data-bs-placement="right">
                       <img src="/icons/dashboard.png" class="" width="24" height="24" role="img"
                           aria-label="Home" alt="dashboard png">
                    </a>
               </li>
               <li>
                   <a routerLink="meals" class="nav-link pt-3 pb-2 rounded-0" title="meals" data-bs-toggle="tooltip"
                       data-bs-placement="right">
                       <img src="/icons/restaurant.png" class="bi pe-none" width="24" height="24" role="img"
                           aria-label="Meals" alt="meals png">
                   </a>
               </li>
               <li>
                   <a routerLink="progress" class="nav-link py-3 rounded-0" title="Progress" data-bs-toggle="tooltip"
                       data-bs-placement="right">
                       <img src="/icons/progress.png" class="bi pe-none" width="24" height="24" role="img"
                           aria-label="Progress" alt="progress png">
                   </a>
               </li>
           </ul>
       </div>
       <div class="col d-flex ms-4 flex-column">
           <a routerLink="home" class="nav-link px-2 py-4" title="Home" data-bs-toggle="tooltip"
               data-bs-placement="right">
               <span class="text-black ">Dashboard</span>
           </a>
           <a routerLink="meals" class="nav-link px-2 py-1" title="Home" data-bs-toggle="tooltip"
               data-bs-placement="right">
               <span class="text-black">Meals</span>
           </a>
           <a routerLink="progress" class="nav-link px-2 py-4" title="Home" data-bs-toggle="tooltip"
               data-bs-placement="right">
               <span class="text-black">Progress</span>
           </a>

       </div>
   </div>

   <div class="borderTop mx-3 mb-4 borderBottom">
       <div class="row">
           <div class="col-1">
               <a routerLink="" class="nav-link py-3" title="Profile" data-bs-toggle="tooltip"
                   data-bs-placement="profile">
                   <img src="/icons/logout.png" class="bi pe-none" width="24" height="24" role="img"
                       aria-label="Profile" alt="progress png">
               </a>
               <a routerLink="profile" class="nav-link  rounded-0" title="Profile" data-bs-toggle="tooltip"
                   data-bs-placement="profile">
                   <img src="/icons/avatar.png" class="bi pe-none" width="24" height="24" role="img"
                       aria-label="Profile" alt="progress png">
               </a>
           </div>
           <div class="col">
               <a class="nav-link px-2 pt-3 pb-1" title="Log out" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-placement="right">
                   <span class="text-black ">Log Out</span>
               </a>
               <a routerLink="profile" class="nav-link px-2 py-3" title="Profile" data-bs-toggle="tooltip"
                   data-bs-placement="right">
                   <span class="text-black">Profile</span>
               </a>
           </div>
       </div>
   </div> -->
