<div class="container-fluid m-0 p-0 position-relative z-30">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-lg-6 p-2 p-lg-1">
                    <div class="pill centered flex-row flex-lg-column gap-2 h-100">
                        <p class="m-0 fs-4 fw-bold">Duration</p>
                        <p class="m-0">{{userPlan.startDate}}</p>
                        <p class="m-0">{{userPlan.endDate}}</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-2 p-lg-1">
                    <div class="pill flex-column p-3 px-2">
                        <app-bmicalculator></app-bmicalculator>
                    </div>
                </div>
                <div class="p-1">
                    <div class="pill centered" style=" height:17rem; ">
                        <canvas id="weightChart">{{weightChart}}</canvas>
                    </div>
                </div>
                <div class=" p-1">
                    <div class="pill centered" style=" height:17rem;"> 
                        <canvas id="caloricChart">{{caloricChart}}</canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 p-1 pe-2">
            <div class="pill centered" style=" height:17rem;">
                <canvas id="stressChart">{{stressChart}}></canvas>                
            </div>
            <div class="mt-2">
                <div class="pill centered" style=" height:17rem;">
                    <canvas  id="waterChart">{{waterChart}}</canvas>
                </div>
            </div>
            <div class="mt-2">
                <div class="pill centered" style=" height:17rem;">
                    <canvas id="mealHourChart">{{mealHourChart}}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>