<div class="container-fluid p-0 position-relative z-30">
    <div class="row pe-3 pe-lg-0">
        <div class="col-12 col-lg-6 m-1">
            <div class="row mb-1">
                <div class="pill flex-column">
                    <p class="fw-bold px-3 w-100 m-0">Search your Favourites</p>
                    <form ngSubmit="search()" #searchForm="ngForm" class="input-group p-0 px-3">
                        <input type="text" class="form-control" name="search" [(ngModel)]="searchQuery" placeholder="Enter Ingredient or Meal name"
                            aria-label="Recipient's username" aria-describedby="button-addon2" required>
                        <button class="btn btn-success1 rounded-end-5" type="button" id="button-addon2" [disabled]="!searchForm.valid">Search</button>
                    </form>
                </div>
            </div>
            <div class="row p-0 mb-1">
                <div class="pill p-1">
                    <div class="">
                        <canvas id="nutritionChart">{{chart}}</canvas>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="pill flex-column">
                    <p class="fw-bold px-2 w-100 m-0 mb-2">Suggestions</p>
                    <div class="col-12 card border-0 border-bottom mb-2 rounded-4" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <div class="card-body d-flex py-1 align-items-center ">
                            <div class="rounded-circle border p-2 col-2">
                                <img src="icons/breakfast.png" class="img-fluid" alt="breakfast png">
                            </div>
                            <div class="d-block px-4">
                                <p class="fw-bold m-0">Meal Name</p>
                                <small class="text-dark-emphasis">
                                    Ingredients, Ingredients, Ingredients, Ingredients
                                </small>
                                <button class="btn btn-outline-success d-flex align-items-center" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop2"><span class="m-0 me-2 text-da-emphasis">How to
                                        Cook</span><img height="10px" width="10px" src="/icons/right-arrow.png"
                                        alt="arrowhead png"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 card border-0 border-bottom mb-2 rounded-4" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <div class="card-body d-flex py-1 align-items-center">
                            <div class="rounded-circle border p-2 col-2">
                                <img src="icons/breakfast.png" class="img-fluid" alt="breakfast png">
                            </div>
                            <div class="d-block px-4">
                                <p class="fw-bold m-0">Meal Name</p>
                                <small class="text-dark-emphasis">
                                    Ingredients, Ingredients, Ingredients, Ingredients
                                </small>
                                <button class="btn btn-outline-success d-flex align-items-center" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop2"><span class="m-0 me-2 text-da-emphasis">How to
                                        Cook</span><img height="10px" width="10px" src="/icons/right-arrow.png"
                                        alt="arrowhead png"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg me-2 m-1">
            <div class="row mb-1">
                <div class="pill flex-column">
                    <div class="col-12 card rounded-4 mb-2 border-0 border-bottom"
                        *ngFor="let meal of selectedMeals let i = index" (click)="showDetails(i,meal)">
                        <div class="card-body d-flex py-1 align-items-center">
                            <div class="rounded-circle border p-2 col-2">
                                <img src="icons/breakfast.png" class="img-fluid" alt="breakfast png">
                            </div>
                            <div class="d-block px-4">
                                <p class="fw-bold m-0">{{meals[i]}}</p>
                                <small class="text-dark-emphasis">
                                    This is some text within a card body.
                                </small>
                            </div>
                            <button class="btn end-0 position-absolute me-2"><img height="10px" width="10px"
                                    src="/icons/right-arrow.png" class="img-fluid" alt="arrowhead png"></button>
                        </div>
                        <small class="end-0 bottom-0 me-5 position-absolute">240kcal</small>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="pill">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, cupiditate doloribus aut
                    laborum
                    quibusdam magnam itaque omnis harum blanditiis fuga ducimus consequatur sunt! Excepturi consequuntur
                    ea
                    nihil inventore fuga commodi.
                    Reiciendis neque nostrum saepe soluta veritatis ducimus assumenda quae et, error repudiandae beatae
                    sequi ipsa nam natus numquam. Modi eaque vel incidunt exercitationem odio. Quis quod dolor placeat
                    at
                    totam.
                    Veniam hic facere eligendi natus ab aliquam illum ipsam. Perferendis, deleniti ex nihil odio ipsum
                    iure
                    voluptatem tempore accusantium adipisci quidem voluptas, suscipit atque a qui vel explicabo autem
                    nobis.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" #staticBackdrop data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="p-2 modal-content rounded-4 no-scrollbar" style="height: 80vh; overflow-y: scroll;">
        <div class="modal-header">
            <h1 class="modal-title text-center w-100 fs-5" id="staticBackdropLabel">{{title}}</h1>
        </div>
        <div class="modal-body">
            <div class="row m-0">
                <h6 class="fw-bold bg-green-100 py-2 px-4 rounded-2 text-center">{{mealObj.recipeName}}</h6>
                <div class="cols centered py-3">
                    <img class="img-fluid" src="{{mealObj.imageLink}}" alt="">
                </div>
                <div class="cols px-2">
                    <h6 class="fw-bold bg-green-100 p-2 rounded-2">Description</h6>
                    <p class="text-justify cardColor p-2" [innerHTML]="mealObj.description">
                    </p>
                    <h6 class="fw-bold bg-green-100 p-2 rounded-2">Meal time</h6>
                    <p class="text-justify cardColor p-2">
                        {{mealObj.mealTime}}
                    </p>
                    <h6 class="fw-bold bg-green-100 p-2 rounded-2">Cuisines</h6>
                    <p class="text-justify cardColor p-2">
                        {{mealObj.cuisines}}
                    </p>
                    <h6 class="fw-bold bg-green-100 p-2 rounded-2">Ingredients</h6>
                    <div class="d-flex">
                        <p class="cardColor p-2">
                            {{mealObj.ingredients}}
                        </p>
                    </div>
                    <h6 class="fw-bold bg-green-100 p-2 rounded-2">Instructions</h6>
                    <p class="text-justify cardColor p-2 " [innerHTML]="mealObj.instructions">
                </div>
                <div class="m-3 d-flex justify-end">
                    <small class="fst-italic me-3">Credits: {{mealObj.credits}}</small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-end me-3 gap-2">
                <button type="button" class="btn btn-success" (click)="setMeal()">{{btnText}}</button>
                <button type="submit" class="btn btn-secondary" (click)="getSomething(currentIndex-1)"><i
                        class="bi bi-arrow-clockwise"></i> Try Something
                    Else</button>
            </div>
        </div>
    </div>
</div>