<div class="container-fluid centered vh-100">
    <div class="col-11 col-lg-8 pill centered" style="height: 30em;">
        <div class="text-center centered flex-column p-3">
            <div class="mb-3">
                <h3 class="">{{question}}</h3>
                <h6 class="text-dark-emphasis">{{description}}</h6>
            </div>
            <div class="centered w-100">
                <div class="overflow-auto no-scrollbar col-12 py-2 mb-3" style="height: 15em;">
                    <div class="container centered ">
                        <div *ngIf="!textUnit && !calculation" class="container px-2 rounded-5">
                            <div (click)="handleClickEvent(option[i].option_text)" *ngFor="let option_text of option; let i = index"
                                class="bordered border-{{color}} p-3 mb-1">
                                <p class="m-0">{{option[i].option_text}}</p>
                            </div>
                        </div>
                        <div class="" *ngIf="textUnit && !calculation">
                            <div class="px-5 py-3 mb-3">
                                <div class="input-group">
                                    <input type="{{type}}" [(ngModel)]="response" class="form-control rounded{{dash}}5"
                                        placeholder="{{placeholder}}">
                                    <span *ngIf="unit" class="input-group-text rounded-end-5"
                                        id="basic-addon2">{{unit}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" *ngIf="calculation">
                        <app-bmicalculator [height]="userResponseObjectACTUAL[2]" [weight]="userResponseObjectACTUAL[3]"></app-bmicalculator>
                    </div>
                </div>
            </div>
            <div *ngIf="bool || textUnit" class="d-flex justify-content-end">
                <button [disabled]="!bool && !response && !calculation" (click)="nextQuestion(true)" class="btn btn-success1">{{btnText}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade w-100"#staticBackdrop data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content rounded-5">
            <div class="modal-body">
                <button type="button" class="btn-close position-absolute end-0 mx-3" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <app-register [userResponseObject]="userResponseObject"></app-register>
            </div>
        </div>
    </div>
</div>