/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    font-family: sans-serif;
}

span {
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
}

.pill {
    border: 2px #D1DCCB solid;
    border-radius: 20px;
    padding: 2%;
}

.pill1 {
    border: 4px #D1DCCB solid;
    border-radius: 25px;
}

.colorBorder{
    border: 2px #D1DCCB solid;
    background-color: white;
}


.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorMain {
    background-color: #16e011;
}

.btn-success1 {
    --bs-btn-color: #fff;
    --bs-btn-bg: #16E011;
    --bs-btn-border-color: #16E011;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #16E011;
    --bs-btn-hover-border-color: #16E011;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #16E011;
    --bs-btn-active-border-color: #16E011;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #16E011;
    --bs-btn-disabled-border-color: #16E011;
}

.no-scrollbar {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}